@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
    --yellow: #e3d810;
    --magenta: #d9138a;
    --cyan: #12a4d9;
    --black: #0e0d0d;
    --grey: #252323;
    --greyish:#7b7676af;
    --lightBlack: #a29a9c;
    --exLight: #f4f3f3;
    --transition: all 0.4s ease-in-out;
    --Heebo: "Heebo", sans-serif;
    --Roboto: "Robot", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--Heebo);
    line-height: 1.5;
    font-size: 1.05rem;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    color: var(--black);
    overflow-x: hidden;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #49c9f8;
    text-indent: -9999px;
    display: none;
    border-radius: 60px;
    z-index: 20;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #000000;
}

#scroll:hover {
    background-color: #038cbe;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}


/* welcome */

.welcome {
    background: var(--exLight);
}

.welcome .row>div:first-child {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}

.welcome .item {
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition-duration: 0.3s;
}

.welcome .item:last-child {
    margin-right: 2.3%;
}

.welcome .item:hover {
    box-shadow: 0 0 7px rgba(1, 1, 1, 0.23);
    cursor: pointer;
}

.welcome .item span {
    font-size: 2.6rem;
}

.welcome .item:nth-child(1) span {
    color: var(--cyan);
}

.welcome .item:nth-child(2) span {
    color: var(--magenta);
}

.welcome .item:nth-child(3) span {
    color: var(--yellow);
}

.welcome .item:nth-child(4) span {
    color: var(--black);
}

.welcome .row>div:last-child {
    display: none;
    background: var(--exLight);
    padding-left: 1.5rem;
}

.welcome .row>div:last-child a {
    color: var(--cyan);
}


@media screen and (max-width: 768px) {
    .welcome .item p.lg-text {
        font-size: 16px;
    }
}

/* why section */

.why>.container>.title {
    padding-bottom: 0;
}

.why .container>p {
    text-align: center;
    line-height: 28px;
    font-size: 1rem;
}

.why .item {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.625rem;
    margin: 1.2rem;
    box-shadow: 0 10px 20px rgba(173, 173, 173, 0.19), 0 6px 6px rgba(172, 172, 172, 0.23);
    transform: translateY(0);
    transition: transform 400ms ease-out, box-shadow 400ms ease-out;
}

.why .item:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 15px 14px rgba(173, 173, 173, 0.514);
    border-color: #038cbe;
    background-color: rgb(213, 227, 248);
}

.why .item img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    margin:0;
}

.item-img {
    display: flex;
    justify-content: center;
}

.item-body>p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.955rem;
    line-height: 1.5rem;
}

.item-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.item-body>h3 {
    display: block;
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 5px !important;
}


/* online course */

.online-course {
    background-color: #264a5f;
    color: #fff;
    padding: 2rem;
    background-size: cover;
    background-position: center;
}

.online-course .container {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #192E3A;
    padding: 2rem;
    border-radius: 1.5rem;
    gap: 10vmin;
    height: 25rem;
}

.online-course .container .onlineImg {
    height: 100% !important;
    width: 40% !important;
}

.online-course .container .onlineTxt {
    border-top-left-radius: 36%;
    padding: 1rem;
}

.online-course .container .onlineTxt input {
    border: 2px solid #3e799b;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
}

.online-course .container .onlineTxt #choose {
    border: 2px solid #3e799b;
    border-radius: 25px;
}

.online-course .container .onlineTxt .submit-btn {
    width: 15rem;
}

.online-course .container .onlineTxt .submit-btn:hover {
    color: #192E3A !important;
    background-color: #3e799b !important;
}

.online-course-form div * {
    display: block;
}

.online-course-form select option {
    color: var(--black);
}


/* skill section */

.skill .row h3 {
    font-size: 29px;
}

.skill .row>div {
    margin-right: -5px;
    margin-left: 3.5rem;
}

.skill .img-container {
    position: relative;
    display: none;
}

.skill .img-container {
    margin-left: -45px;
    width: 580px;
    height: auto;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.skill .img-container:hover {
    width: 550px;
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.skill .row a {
    margin-top: 35px;
    background: linear-gradient(120deg, #029fd8 20%, #38aee4 80%);
}

.skill .row a:hover {
    background: linear-gradient(120deg, #029fd8d5 20%, #38aee4d4 80%);
}


/* counter section */

.counter {
    padding-top: 0;
}

.counter .item,
.counter .item .title-sm h3 {
    text-align: center !important;
}

.counter .item {
    margin: 0.4rem 0;
    color: white;
    border-radius: 0.3rem;
    padding-bottom: 1rem;
    transition: 0.3s;
}

.counter .item:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.counter .item:nth-child(1) {
    background-image: linear-gradient(thistle, darkslategrey);
}

.counter .item:nth-child(2) {
    background-image: linear-gradient(thistle, darkslategrey);
}

.counter .item:nth-child(3) {
    background-image: linear-gradient(thistle, darkslategrey);
}

.counter .item:nth-child(4) {
    background-image: linear-gradient(thistle, darkslategrey);
}

.counter .num {
    font-size: 2.6rem;
    font-weight: 900;
}


/* end of counter section */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:2rem; */
    text-align: center;
    padding: 3rem 3rem;
    /* background: url(../img/subscribe-bg.png) no-repeat; */
    background-color: #192E3A;
    background-size: cover;
    background-position: center;
    /* justify-content: center;
    align-items: center;
    flex-wrap: nowrap; */
}

.newsletter img {
    /* width: 50%;
  height: 50%; */
}

.newsletterText {
    display: flex;
    /* margin: 6rem; */
    align-items: center;
    flex-direction: column;
}

.newsletter h3 {
    color: #fff;
    font-size: 3.2rem;
    /* text-transform: uppercase; */
    font-family: var(--Heebo);
}

.newsletter p {
    color: #fff;
    font-size: 2rem;
    margin: 1.3rem auto;
    width: 70rem;
    font-family: var(--Heebo);
}

.newsletter form {
    display: flex;
    margin-top: 30px;
    gap: 2rem;
    max-width: 30rem;
    font-family: var(--Heebo);
    /* border: .2rem solid #fff; */
    padding: .5rem;
    /* border-radius: 5rem; */
    /* margin:2rem auto 2rem -2rem; */
    height: 4.5rem;
}

.newsletter form input[type="email"] {
    /* padding: 0 2rem; */
    font-size: 1.7rem;
    background: none;
    font-family: var(--Heebo);
    width: 100%;
    color: #fff;
    text-transform: none;
    background: none;
}

.newsletter form input[type="email"]::placeholder {
    color: rgb(135, 120, 120);
    font-family: var(--Heebo);
    font-family: serif;
    text-transform: capitalize;
}

.newsletter form input[type="email"]:focus::placeholder {
    color: transparent;
    font-family: var(--Heebo);
    transition: 0.2s ease-in-out;
}

.newsletter form input[type="submit"] {
    background: #fff;
    width: 13rem;
    font-size: 1.4rem;
    font-family: emoji;
 
    border-radius: 2rem;
    padding: 8px 10px;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
    color: #f0f0f0;
    border-color: #ffffff;
    border-radius: 1rem;
    background-color: #192E3A;
    transition: 0.5s ease-in-out;
}

.a {
    text-decoration: none;
    border-radius: 30px;
}

/* Testimonials section */
#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #192D3A;
    color: white;
}

.grid-container{
    padding: 0 1rem;
}

.testimonial-box-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.testimonial-heading {
    margin-bottom: 2rem;
}
.testimonial-heading h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.testimonial-box {
    box-shadow: 2px 2px 10px white;
    padding: 1rem;
    cursor: pointer;
    background-color: #192D3A;
    color: white;
}

.testimonial-box:hover {
    transform: scale(1.05);
    transition: all ease 0.3s;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.client-comment p {
    font-size: 0.9rem;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .testimonial-box-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {

    .testimonial-heading {
        margin-bottom: 0;
    }
    .testimonial-heading h1 {
        font-size: 3rem;
    }

    .testimonial-row {
        padding: 2rem 2.2rem;
    }
}

@media screen and (min-width: 1400px) {
    .testimonial-box-container,
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        width: 100%;
        gap: 0;
    }

    .testimonial-box{
        width: 450px;
        margin: 1.2rem;
    }
}

@media (max-width: 790px) {
    .online-course .container .onlineTxt {
        padding-top: 0;
    }
    .online-course .container .onlineTxt .title {
        padding: 0;
    }
    .online-course .container .onlineImg {
        height: 80% !important;
        width: 45% !important;
    }
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 570px) {
    .online-course {
        height: 140vh;
    }
    .online-course .container {
        flex-direction: column;
        height: 130vh;
        width: 16rem;
    }
    .online-course .container .onlineImg {
        height: 30% !important;
        width: 100% !important;
    }
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
    .footer-col {
        width: 100%;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}


/* footer  */

footer {
    background: var(--grey);
    color: #fff;
    text-transform: none;
    padding: 4rem 0;
}

footer .container {
    font-family: cursive;
    max-width: 1420px;
    margin: 0px auto;
    padding: 0px 1rem;
}

footer .row>div:nth-child(1) p {
    width: 60%;
    margin: 0px 0px;
    margin-right: 20px;
}

footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer .social-lin {
    margin: 0px 10px;
    font-size: 20px;
    transition: 0.3s;
}

ul>li>span>i {
    margin-right: 6px;
}

.footer-col .social-links .ggl i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
    color: red;
}

.footer-col .social-links .fac i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
    color: rgb(0, 170, 255);
}

.footer-col .social-links .ins i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
    color: rgb(221, 13, 155);
}

.footer-col .social-links .twi i:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.5);
    color: rgb(0, 170, 255);
}

footer .container i {
    cursor: pointer;
}

footer .container span i:hover {
    color: white;
}
footer .row .i{
    font-size: 1.5rem;
}
footer .hr{
    height: 0;
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
    background-color: var(--lightBlack);
    opacity: 15%;
}
footer hr{
    height: 0;
    opacity: 30%;
    margin-top: -30px;
    width: 4rem;

}
footer .footer-col .infor a {
    text-transform: none;
    padding: 5px;
}

footer .footer-col .infor a:hover {
    transition: all 0.2s ease-in-out;
    color: grey;
}

.foot-line {
    background: var(--cyan);
    height: 3px;
    width: calc(100%);
    margin-top: 5px;
}

.footer-text {
    color: #fff;
}

.footer-text {
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
}

.footer-text span {
    color: var(--cyan);
}