/*------To make the content popup responsive------*/
@media screen and (min-width: 481px) and (max-width: 800px){
    .contentbox{
        width: 500px;
      }
      .contentbox .imgbx {
        display: grid;
        grid-template-columns: 30% 70%;
        text-align: justify;
        width: 100%;
      }
      .img-div{
          width: 100%;
          padding: 10px;
      }
      .contentbox .content{
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 10px;
        padding-top: 20px;
      }
      .contentbox .content h2{
        line-height: 0.5em;
        font-weight: bold;
        font-size: 0.9em;
      }
      .contentbox .content p{
        font-weight: 500;
        font-size: 0.7em;
        text-indent: 28px;
      }
      .contentbox .content a{
        padding: 5px 12px;
        margin: 5px;
        border-radius: 5px;
        font-size: 0.8rem;
      }
      .close{
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        background-size: 5px;
      }
}
/*-----------------------*/

@media screen and (max-width: 480px){
    .newsletter h3{
        font-size: 2.5rem;
        width: auto;
    }
    .newsletter p{
        font-size: 1.2rem;
        width: auto;
    } 
    .newsletter form input[type="email"]{
        font-size: 0.8rem;
    }
    .newsletter form input[type="submit"]{
        font-size: 1.1rem;
        width: 11.5rem;
    }
    .testimonial-heading span{
        font-size: 2rem;
    }
    .testimonial-heading h1 {
        font-size: 1.1rem;
    }

    /*------To make the content popup responsive-----*/
    .contentbox{
        width: 280px;
        height: auto;
        padding : 20px;
      }
      .contentbox .imgbx {
        display: grid;
        grid-template-rows: 40% 60%;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .contentbox .imgbx img{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-height: 110px;
        width: auto;
      }
      .img-div{
          width: 100%;
          height: 100%;
      }
      .contentbox .content{
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 10px;
      }
      .contentbox .content h2{
        line-height: 0.5em;
        font-weight: bold;
        font-size: 0.9em;
      }
      .contentbox .content p{
        font-weight: 500;
        font-size: 0.7em; ;
      }
      .contentbox .content a{
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        font-size: 0.8rem;
      }
      .close{
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        font-size: 0.75rem;
        background-size: 5px;
      }
      /*---------------------*/
}


@media screen and (min-width: 480px){

    .header-top-info .row div:first-child span{
        display: inline-block!important;
        margin-right: 1.5rem;
    }
    .register-btn{
        margin-right: 0!important;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-content .text{
        font-size: 1.1rem;
    }
    .counter .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    /* responsive */
    .newsletter p{
       font-size: 1.1rem;
       width: 90%;
    }
    .newsletter form input[type="email"]{
        font-size: 1.2rem;
    }
    .testimonial-heading span {
        font-size: 1.8rem;
    }
    /* .testimonial-heading h1 {
        font-size: 1.2rem;
    } */
    
    
}


@media screen and (min-width: 768px){
    header .links li a {
        margin-left: 3rem;
    } 
    .hero-slider{
        width: 80%;
        margin: 0 auto;
    }
    .welcome .row > div:first-child{
        grid-template-columns: repeat(4, 1fr);
    }
    .why .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .why .item{
        text-align: left;
    }
    .why .item img{
        margin-left: 0;
    }
    .why .container > p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .online-course-form div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    .counter .row{
        grid-template-columns: repeat(4, 1fr);
    }
    footer .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* responsive */
    .newsletter p{
        font-size: 1.4rem;
        width: 90%;
    }
    .newsletter form input[type="email"]{
        font-size: 1.2rem;
    }
    .testimonial-heading span {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px){
  
    .header-top-info .row{
        display: flex;
        justify-content: space-between!important;
    }
    .header-top-info .row div:first-child{
        display: flex;
        align-items: center;
    }
    .header-top-info .row div:first-child span{
        margin-bottom: 0;
    }
    .header-top-info .row div:first-child p{
        margin-right: 1rem;
    }
    .navbar{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1280px;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar .container{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .navbar-show-btn{
        display: none;
    }
    .navbar-hide-btn{
        display: none;
    }
    .navbar-nav{
        display: flex;
        padding-right: 0;
    }
    .navbar-collapse{
        flex: 1 0 auto;
        transform: translateX(0);
        position: static;
        width: auto;
        background: transparent;
        border-left: 0;
        display: flex;
        justify-content: flex-end;
    }
    .navbar-nav li{
        border-bottom: 0;
        margin: 0 0.9rem;
    }
    .navbar-nav li a:hover{
        padding-left: 0;
        color: var(--cyan)!important;
    }
    .hero-content{
        margin-top: 4.5rem;
    }
    .welcome .row > div:last-child{
        display: block;
    }
    .welcome .row{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .why .row{
        grid-template-columns: repeat(3, 1fr);
    }
    .why .container > p{
        width: 60%;
    }
    .skill .row{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: flex-start;
    }
    .skill .img-container{
        display: block;
    }
    .skill .row > div:first-child{
        padding-right: 3rem;
    }
    .skill .img-container img{
        margin-top: 2rem;
    }
    
}

@media screen and (min-width: 1200px){
    header .links li a {
        margin-left: 4.3rem;
    } 
 
    .hero-title{
        font-size: 4rem;
    }
    .hero-content .text{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    footer .row{
        grid-template-columns: repeat(4, 1fr);
    }
    footer .row > div:nth-child(1) p{
        width: 100%;
    }
    .newsletterText{
        margin: 6rem;
      }
}
@media screen and (orientation:portrait) {
    .newsletter{
        flex-direction: column-reverse;
        align-items: center;
    }
 }