@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("../css/fonts.css");

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  width: 100%;
  padding: 1.7rem 0 2rem;
  min-height: 100vh;
  overflow: hidden;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlayser {
  position: fixed;
  opacity: 1;
  display: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 999;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--darkTwo);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--darkTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 20px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
  overflow-x: unset;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: transparent;
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 1050px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .logo h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #49c9f8;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}

#scroll:hover {
  background-color: #038cbe;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color   */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /*      theme font-family   */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}

/* ---------------- Global Classes ---------------*/

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */
/*
.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}
*/
.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

/* -------x------- navbar ---------x------- */

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title {
  background: white;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.site-background {
  background: url("assets/bg.jpeg");
  background-position-x: center;
  text-align: center;
  height: 95vh;
  display: flex;
  justify-content: center;
}

.site-background h1 {
  margin-top: 20vh;
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* --------x------ Site title --------x------- */

/* --------------- Blog Carousel ------------ */

main .blog {
  background: url("../assets/Abract01.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%;
}

main .blog .blog-post {
  padding-top: 3rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-out;
}
main .blog-post .blog-content:hover {
  transform: translateY(-2%);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

main .blog-content .blog-title {
  padding: 2rem 0;
}

main .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}

main .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}

/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main .post-content {
  width: 100%;
}

main .site-content .post-content > .post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

main .site-content .post-content > .post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
  overflow: hidden;
}

main .site-content .post-content > .post-image .img {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span {
  margin: 0 0.5rem;
}

main .post-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5rem;
}

main .post-title .post-btn a {
  font-size: 1rem;
  text-decoration: none;
  font-family: "Livvic";
  color: #fff;
}
.site-content .post-content .post-title .post-btn {
  border-radius: 3rem;
  padding: 0.7rem 1.5rem;
  background: var(--sky);
}

.site-content .pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--Lexend);
}

.site-content .pagination .pages {
  background: var(--text-gray);
  color: var(--white);
}

/* -------x-------- Site Content --------x-------*/

/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list {
  font-family: var(--Livvic);
}

.site-content > .sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a {
  color: black;
}

.site-content .sidebar .popular-post .post-content {
  padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
  padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .newsletter {
  padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element {
  padding: 0.6rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
  width: 80%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-family: var(--Lexend);
  font-size: 1rem;
  border-radius: 3rem;
}

.site-content .sidebar .newsletter .form-btn {
  border-radius: 3rem;
  padding: 0.8rem 32%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags {
  padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/* -------x------- Sidebar -----------x----------- */

/* ---------x------- Main Content -----x----- */

/* ----------------- Footer --------------------- */

footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}

footer.footer .container h2 {
  color: var(--white);
}

footer.footer .newsletter .form-element {
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: transparent;
  color: white;
  font-family: var(--Josefin);
  font-size: 1rem;
  width: 74%;
}

footer.footer .newsletter .form-element span {
  background: var(--sky);
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

footer.footer .instagram div > img {
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: 0.3rem 0.4rem;
}

footer.footer .follow div i {
  color: var(--white);
  padding: 0 0.4rem;
}

footer.footer .rights {
  justify-content: center;
  font-family: var(--Josefin);
}

footer.footer .rights h4 a {
  color: var(--white);
}

footer.footer .move-up {
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer .move-up span {
  color: var(--midnight);
}

footer.footer .move-up span:hover {
  color: var(--white);
  cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem !important;
    bottom: 1.2rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .popular-post .post-info {
    display: none !important;
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content {
    grid-template-columns: 100%;
  }

  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
  main .blog {
    height: 125vh;
  }

  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .container > div {
    padding: 1rem 0.9rem !important;
  }

  footer .rights {
    padding: 0 1.4rem;
    text-align: center;
  }

  nav .toggle-collapse {
    width: 80% !important;
  }
}

/*        x      Viewport less then or equal to 520px       x     */
