@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Nunitio';
    scroll-behavior: smooth;
}

h1{
    color: white;
}
a
{
    text-decoration: none;
    color: black;
}

.Container
{
    display: grid;
    grid-template-columns: repeat(4, 19%);
    grid-template-rows: 2% 40% 20%;
    margin-left: 10%;
    grid-gap: 40px 50px;
}


@media only screen and (max-width:800px)  {
    .Container{
        grid-template-columns:50%;
        grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20%;
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 105px;
              }
}


.heading
{
grid-column: 1/5;
font-family: Nunito;
background-color:white;
font-weight: 1000;
font-size: 15px;
text-align: center;
margin-top: 10px;
}

@media only screen and (max-width:800px)  {
    .heading{
         position: relative;
         right: 80px;
         font-size: 13px;
    }
}


.First-Img
{
    grid-column: 1/2;
    background-color:white;
}

.Sec-Img
{
    grid-column: 2/3;
    background-color: white;
}

.Third-Img
{
    grid-column: 3/4;
    background-color: white;
}

.Fourth-Img
{
    grid-column: 4/5;
    background-color: white;
}


.Fifth-Img
{
    grid-column: 1/2;
    background-color: white;
}

.Sixth-Img
{
    grid-column: 2/3;
    background-color: white;
}

.Seventh-Img
{
    grid-column: 3/4;
    background-color: white;
}

.Eight-Img
{
    grid-column: 4/5;
    background-color: white;
}

.card
{
    width: 15rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.2);
    border-radius: 15px;
    
}

.card:hover
{
    transform: scale(1.03);
    transition: all 1s ease;
}
   
@media only screen and (max-width:800px)  {
      .card{
          grid-gap: 10px ;
          margin: 20px 2px;
      }


}



 .card-img
{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px;
    

}

.mid-img
{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 10%;
    margin-top: -3rem;
}

h4
{
    font-size: 14px;
    font-weight: 300;
    font-family:Nunito;
    margin-top: 3px;
    padding: 10px 10px;

}

h3
{
    font-size: 15px;
    font-family:Nunito;
    margin-top: 5px;
    font-weight: bold;

}